<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Kol2023-2024">

   <test name="Test-Box">
        <classes>
            <class name="TextBoxPageTest"></class>
        </classes>
    </test>


    <test name="Check-Box">
        <classes>
            <class name="CheckBoxPageTest"></class>
        </classes>
    </test>


    <test name="Radio button">
        <classes>
            <class name="RadioButtonPageTest"></class>
        </classes>
    </test>


    <test name="Link">
        <classes>
            <class name="LinkPageTest"></class>
        </classes>
    </test>


    <test name="Web Tables">
        <classes>
            <class name="WebTablesPageTest"></class>
        </classes>
    </test>


    <test name="Selectable">
        <classes>
            <class name="SelectablePageTest"></class>
        </classes>
    </test>



    <test name="Slider">
        <parameter name="sliderVrednost" value="56"></parameter>
        <classes>
            <class name="SliderBageTest"></class>
        </classes>
    </test>
    
</suite>